app.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/providers/Microsoft.Web/locations/westeurope/managedApis/azureblob"
            },
            "faceapi": {
                "connectionId": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/connections/faceapi",
                "connectionName": "faceapi",
                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/providers/Microsoft.Web/locations/westeurope/managedApis/faceapi"
            },
            "onedrive": {
                "connectionId": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/connections/onedrive",
                "connectionName": "onedrive",
                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/providers/Microsoft.Web/locations/westeurope/managedApis/onedrive"
            },
            "outlook": {
                "connectionId": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/connections/outlook",
                "connectionName": "outlook",
                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/providers/Microsoft.Web/locations/westeurope/managedApis/outlook"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_blob": {
                "inputs": {
                    "body": "@triggerBody()",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/datasets/default/files",
                    "queries": {
                        "folderPath": "/eleu18faces",
                        "name": "@base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {},
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                },
                "type": "ApiConnection"
            },
            "Detect_faces": {
                "inputs": {
                    "body": {
                        "url": "https://steleu18mirufaces.blob.core.windows.net@{body('Create_blob')?['Path']}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['faceapi']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/face/v1.0/detect",
                    "queries": {
                        "returnFaceAttributes": "age,gender,headPose,smile,facialHair,glasses",
                        "returnFaceId": "true",
                        "returnFaceLandmarks": "true"
                    }
                },
                "runAfter": {
                    "Create_blob": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "For_each_2": {
                "actions": {
                    "HTTPDetectBeard": {
                        "inputs": {
                            "body": "@items('For_each_2')?['faceAttributes']?['facialHair']?['beard']",
                            "function": {
                                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/sites/eleufaceemotion/functions/HTTPDetectBeard"
                            }
                        },
                        "runAfter": {
                            "HTTPDetectHappyness": [
                                "Succeeded"
                            ]
                        },
                        "type": "Function"
                    },
                    "HTTPDetectHappyness": {
                        "inputs": {
                            "body": "@items('For_each_2')?['faceAttributes']?['smile']",
                            "function": {
                                "id": "/subscriptions/d89e4494-ff21-4841-91a4-85d3edc2d146/resourceGroups/rg-eleu18-miru/providers/Microsoft.Web/sites/eleufaceemotion/functions/HTTPDetectHappyness"
                            }
                        },
                        "runAfter": {},
                        "type": "Function"
                    },
                    "Send_email": {
                        "inputs": {
                            "body": {
                                "Attachments": [
                                    {
                                        "ContentBytes": "@{base64(triggerBody())}",
                                        "Name": "@base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])"
                                    }
                                ],
                                "Body": "We've detected a face on your camera roll:\nGender: @{items('For_each_2')?['faceAttributes']?['gender']}\nAge: @{items('For_each_2')?['faceAttributes']?['age']}\nHappyness: @{body('HTTPDetectHappyness')}\nBeard Factor: @{body('HTTPDetectBeard')}\nGlasses: @{items('For_each_2')?['faceAttributes']?['glasses']}",
                                "IsHtml": true,
                                "Subject": "ELEU18 - new face detected",
                                "To": "drmiru@hotmail.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/Mail"
                        },
                        "runAfter": {
                            "HTTPDetectBeard": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Detect_faces')",
                "runAfter": {
                    "Detect_faces": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_file_is_created": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['onedrive']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/onnewfile",
                    "queries": {
                        "folderId": "C3BD72260271ED3D!8966",
                        "inferContentType": true
                    }
                },
                "metadata": {
                    "C3BD72260271ED3D!8966": "/Photos/Pictures/Camera Roll"
                },
                "recurrence": {
                    "frequency": "Second",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    }
}